/* line 1, ../sass/style.scss */
.car-card-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
}
/* line 10, ../sass/style.scss */
.car-card-container .car-card {
  padding: 0 1.5px;
  text-decoration: none;
  color: black;
}
/* line 15, ../sass/style.scss */
.car-card-container .car-card .image {
  width: 200px;
}
/* line 18, ../sass/style.scss */
.car-card-container .car-card .image img {
  max-width: 100%;
}
/* line 23, ../sass/style.scss */
.car-card-container .car-card .info {
  text-align: center;
}
/* line 26, ../sass/style.scss */
.car-card-container .car-card .info h3 {
  margin-top: 10px;
  max-width: 200px;
}
/* line 32, ../sass/style.scss */
.car-card-container .car-card:hover {
  opacity: 0.5;
}
/* line 37, ../sass/style.scss */
.car-card-container .car-card.disabled .info {
  color: red;
}

/* line 44, ../sass/style.scss */
.car-model {
  font-weight: bold;
  font-size: 16pt;
}

/* line 49, ../sass/style.scss */
.price-row {
  margin-top: 20px;
  color: green;
  font-size: 30px;
}
/* line 54, ../sass/style.scss */
.price-row .price {
  margin-left: 15px;
}
/* line 58, ../sass/style.scss */
.price-row .small {
  font-size: 13px;
}

/* line 64, ../sass/style.scss */
.advert-view .image-panel img {
  max-width: 100%;
}
/* line 69, ../sass/style.scss */
.advert-view .advert-images #lightgallery {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
}
/* line 80, ../sass/style.scss */
.advert-view .advert-images a {
  display: inline-block;
  height: 100%;
  width: 50%;
  margin-bottom: 10px;
}
/* line 87, ../sass/style.scss */
.advert-view .advert-images .main-image {
  width: 100%;
}
/* line 92, ../sass/style.scss */
.advert-view .ad-edit-button, .advert-view .advert-hide-form {
  position: relative;
  bottom: 7px;
  margin-right: 5px;
}
/* line 98, ../sass/style.scss */
.advert-view .advert-hide-form {
  float: right;
}

/* line 104, ../sass/style.scss */
#advert-submit-form .form-group {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
/* line 112, ../sass/style.scss */
#advert-submit-form img {
  max-width: 100%;
}
/* line 117, ../sass/style.scss */
#advert-submit-form .edit-images .image-area {
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
}

/* line 126, ../sass/style.scss */
.make-list a, .model-list a {
  display: block;
}
