.car-card-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;

  .car-card {
    padding: 0 1.5px;
    text-decoration: none;
    color: black;

    .image {
      width: 200px;

      img {
        max-width: 100%;
      }
    }

    .info {
      text-align: center;

      h3 {
        margin-top: 10px;
        max-width: 200px;
      }
    }
    
    &:hover {
      opacity: 0.5;
    }

    &.disabled {
      .info {
        color: red;
      }
    }
  }
}

.car-model {
  font-weight: bold;
  font-size: 16pt;
}

.price-row {
  margin-top: 20px;
  color: green;
  font-size: 30px;

  .price {
    margin-left: 15px;
  }

  .small {
    font-size: 13px;
  }
}

.advert-view {
  .image-panel img {
    max-width: 100%;
  }

  .advert-images {
    #lightgallery {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;

      -webkit-flex-flow: row wrap;

    }

    a {
      display: inline-block;
      height: 100%;
      width: 50%;
      margin-bottom: 10px;
    }

    .main-image {
      width: 100%;
    }
  }
  
  .ad-edit-button, .advert-hide-form {
    position: relative;
    bottom: 7px;
    margin-right: 5px;
  }

  .advert-hide-form {
    float: right;
  }
}

#advert-submit-form {
  .form-group {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }

  img {
    max-width: 100%;
  }

  .edit-images {
    .image-area {
      display: inline-block;
      width: 100%;
      margin-bottom: 10px;
    }
  }
}

.make-list, .model-list {
  a {
    display: block;
  }
}